.list-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px
}

.text-input {
    background-color: #353535;
    border: 2px solid #888888;
    border-radius: 8px;
    height: 35px;
    color: #FFFFFF;
    font-size: 15pt;
    margin: 15px 13px;
    padding: 3px 8px;
}

.title {
    font-size: 25pt;
    color: #FFFFFF;    
}
